.Wrapper {
  display: flex;
  height: 100%;
  padding: 24px;
}

.YouKilled {
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10%;
}

.Box {
  display: flex;
  flex: 1;
}

.Lines {
  display: none;
  flex: 1;
  flex-direction: column;
  margin-right: 12px;
}

.Visible {
  display: flex;
}

.FullSize {
  position: fixed;
  height: 1080px;
  width: 1920px;
}

.Placeholder {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
